/*from Ona*/


body {
	background-image:url(https://media.giphy.com/media/3o7aD6ydPRgEPllYQM/giphy.gif) !important;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.landPage{
	background-color: rgba(240,255,255,.70) !important;
	width: 90%;
	margin: 0 5rem 0 5rem ;
}

#scaryImage img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  background-position: cover;
  height: 100vh;
  width: 100vw;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.instrucPage{
	background-color: rgba(240,255,255,.70) !important;
	width: 90%;
	margin: 0 5rem 0 5rem ;
}

#white{
	color: white;
}

#red{
	color: red;
}

#green{
	color: green;
}

#GL{
	font-size: 25px;
}

#mechanics > p{
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 3.5px;
}

#rInstructions{
  position: relative;
  animation-name: example;
  animation-duration: 4.5s;
  animation-iteration-count: 2;
}

@keyframes example{
  0%{left:0px; bottom:0px;}	
  20%  {left:500px; bottom:0px;}
  40% {left:500px; bottom:450px;}
  60% {left:-500px; bottom:450px;}
  80% {left:-500px; bottom:0px;}
  100%{left:0px; bottom:0px;}
}

#PlayNow{
  position: relative;
  animation-name: example;
  animation-duration: 4.5s;
  animation-iteration-count: 2;
}

@keyframes example{
  0%{left:0px; bottom:0px;}	
  20%  {left:500px; bottom:0px;}
  40% {left:500px; bottom:450px;}
  60% {left:-500px; bottom:450px;}
  80% {left:-500px; bottom:0px;}
  100%{left:0px; bottom:0px;}
}

/*from Ona*/

.bgm {
	display: none
}

